@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?dc9wu2');
    src:  url('../fonts/icomoon.eot?dc9wu2#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?dc9wu2') format('truetype'),
        url('../fonts/icomoon.woff?dc9wu2') format('woff'),
        url('../fonts/icomoon.svg?dc9wu2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'RieuxMinus';
    src: url('../fonts/RieuxMinus.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

:root {
    --main-font: "RieuxMinus";
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e900";
  color: #fff;
}
.icon-close .path1:before {
  content: "\e901";
  color: rgb(47, 19, 13);
  opacity: 0.8;
}
.icon-close .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-facebook:before {
  content: "\e903";
  color: #6a3534;
}
.icon-hamburguer-nav:before {
  content: "\e904";
  color: #6a3534;
}
.icon-hash-icon:before {
  content: "\e905";
  color: #fff;
}
.icon-info-icon:before {
  content: "\e906";
  color: #6a3534;
}
.icon-instagram:before {
  content: "\e907";
  color: #6a3534;
}
.icon-next .path1:before {
  content: "\e908";
  color: rgb(47, 19, 13);
  opacity: 0.8;
}
.icon-next .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-pin:before {
  content: "\e90a";
  color: #fff;
}
.icon-plant:before {
  content: "\e90b";
  color: #fff;
}
.icon-previeous .path1:before {
  content: "\e90c";
  color: rgb(47, 19, 13);
  opacity: 0.4;
}
.icon-previeous .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-shape:before {
  content: "\e90e";
  color: #fff;
}
.icon-src:before {
  content: "\e90f";
}
.icon-twitter:before {
  content: "\e910";
  color: #6a3534;
}
